@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(images/pattern-background-desktop.svg);
  background-repeat: repeat-x;
  background-color: hsl(225, 100%, 94%);
}

.card-container {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  width: 400px;
  text-align: center;
  background-color: #fff;
}

.hero img {
  width: 400px;
}


.content {
  display: flex;
  flex-direction: column;
}