@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
  /* primary colors */
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);

  /* neutral colors */
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(225, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
  --active-state: hsl(245, 65%, 63%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(images/pattern-background-desktop.svg);
  background-repeat: repeat-x;
  background-color: var(--pale-blue);
}

.card-container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  width: 400px;
  text-align: center;
  background-color: #fff;
  border-radius: 15px 15px 15px 15px;
}

.hero img {
  width: 400px;
  border-radius: 15px 15px 0px 0px;
}


.content {
  display: flex;
  flex-direction: column;
  padding: 35px;
  height: 380px;
}

.content h2 {
  font-family: 'Red Hat Display';
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 20px;
  color: var(--dark-blue);
}

.content .content-text {
  color: var(--desaturated-blue);
  font-family: 'Red Hat Display';
  font-size: 15px;
  margin-bottom: 20px;
}

.plan {
  display: flex;
  align-items: center;
  background-color: var(--very-pale-blue);
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.year-plan {
  margin: 0px 0px 0px 10px;
}

.plan-header {
  font-family: 'Red Hat Display';
  font-weight: 700;
  font-size: 15px;
}

.plan-text {
  font-family: 'Red Hat Display';
  font-size: 15px;
  color: var(--desaturated-blue);
}

.change-plan {
  margin-left: 100px;
  color: var(--bright-blue);
  font-family: 'Red Hat Display';
  font-size: 15px;
}

.payment {
  display: flex;
  flex-direction: column;
}

.proceed-btn {
  font-family: 'Red Hat Display';
  font-size: 15px;
  padding: 0.8em;
  border-radius: 10px;
  background-color: var(--bright-blue);
  color: #fff;
  border: none;
  margin-bottom: 20px;
  font-weight: 700;
}

.cancel-btn {
  text-decoration: none;
  font-family: 'Red Hat Display';
  font-size: 15px;
  color: var(--desaturated-blue);
  font-weight: 700;
}

.proceed-btn:hover {
  cursor: pointer;
}

.proceed-btn:active {
  background-color: var(--active-state);
}

.change-plan:active {
  color: var(--active-state);
  text-decoration: none;
}

.cancel-btn:active {
  color: var(--dark-blue);
}

@media only screen and (max-width: 375px) {
 .hero img {
   width: 330px;
 }
 
 .card {
   width: 330px;
 }

 .plan-header {
   font-size: 14px;
 }

 .change-plan {
   margin-left: 40px;
   font-size: 14px;
 }

 .plan-text {
   font-size: 14px;
 }
}